<div class="col-xs-12 col-md-12 col-lg-12">
    <section class="app__section app__section--success">
        <div class="app__section__header">
            راهنمایی
            @{Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml");}
        </div>
        <div class="app__section__body">

            <p class="p-help">
                1. برای شروع کار و مشاهده اقدامات، ابتدا بایستی تاریخ مد نظر خود را انتخاب کرده و کلید نمایش لیست اقدامات را کلیک نمایید.
            </p>
            <p class="p-help">
                <b>توجه: </b>
                به صورت پیش فرض کلیه اقدامات مربوط به <b class="app--primary">یک ماه اخیر</b> شما نمایش داده می شود، جهت تغییر تاریخ لطفا از گزینه بازه زمانی استفاده کنید.
            </p>

        </div>
    </section>
</div>