<div class="col-xs-12 col-md-12">
    <section class="app__section app__section--success">
        <div class="app__section__header">
            راهنمایی
            @{Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml");}
        </div>
        <div class="app__section__body">
            <p class="p-help">
                1. برای شروع کار و مشاهده جلسات ابتدا بایستی تاریخ مد نظر خود را انتخاب کرده و کلید نمایش لیست جلسات را کلیک نمایید.
            </p>
            <p class="p-help">
                2. پس از نمایش داده شدن لیست جلسات با انتخاب کلید <b class="app--primary">ارسال رونوشت</b> در ستون عملیات، فرم مربوطه برای شما نمایش داده خواهد شد.
            </p>
            <p class="p-help">
                3. به منظور کنترل مطلع بودن اعضای جلسه از زمان برگزاری آن، می‌توانید از کلید <b class="app--primary">بازدید کنندگان</b> در قسمت عملیات هر جلسه استفاده نمایید.
            </p>
        </div>
    </section>
</div>