@import "../../../Utilities/_Mixins.scss";
@import "../../../Utilities/_Variabels.scss";

.content-modal {
    align-items: center;
    background: rgba(0,0,0,0.4);
    display: flex;
    height: 0;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    overscroll-behavior: contain;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity ease-in 0.2s;
    width: 0;
    z-index: -100000;

    @include bem-m("active") {
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 1;
        width: 100%;
        z-index: $content-modal-zindex;
    }


    $header-height: 42px;

    @include bem-e("form") {
        background: $color-white;
        box-shadow: 0 0 4px rgba(0,0,0,.26);
        margin: 0 auto;
        max-width: 768px;
        min-height: 330px;
        max-height: 90%;
        padding: 0;
        padding-top: em($header-height);
        padding-bottom: em($header-height);
        position: relative;
        text-align: center;
        width: 90%;

        @include bem-m("mini") {
            max-width: 500px;
            overflow: inherit;
            ;
        }

        @include bem-m("medium") {
            max-width: 960px;
            min-height: 640px;
        }
    }

    @include bem-e("header") {
        $header-font-size: 12px;

        background: $color-primary;
        color: $color-white;
        font-size: em($header-font-size);
        font-weight: bold;
        height: em($header-height, $header-font-size);
        line-height: em($header-height, $header-font-size);
        padding: 0 em($padding-default, $header-font-size);
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }

    @include bem-e("header-btn") {
        $btn-font-size: 16px;
        $btn-size: $header-height - 16;

        background-color: $color-text;
        border: 1px solid rgba(255, 255, 255, 0.6);
        color: $color-white;
        cursor: pointer;
        font-size: $btn-font-size;
        font-weight: bold;
        height: $btn-size;
        line-height: $btn-size;
        outline: none;
        padding: 0;
        padding-top: 1px;
        position: absolute;
        right: 7px;
        top: 8px;
        text-align: center;
        width: $btn-size;

        @include bem-e("icon") {
            margin-top: -3px;
            width: 10px;
        }

        @include bem-m("maximize") {
            right: $btn-size + 14;
        }

        &:hover {
            background-color: $color-danger--dark;
        }
    }

    @include bem-e("body") {
        height: 100%;
        padding: $padding-default;
    }

    @include bem-e("body-scroll") {
        max-height: 800px !important;

        @media screen and (max-width: 2014px) and (max-height:1232px) {
            max-height: 800px !important;
        }

        @media screen and (max-width: 1900px) {
            max-height: 700px !important;
        }

        @media screen and (max-width: 1674px) and (max-height:1073px) {
            max-height: 520px !important;
        }

        @media screen and (min-width: 1600px) {
            max-height: 620px !important;
        }

        @media screen and (max-width: 1360px) {
            max-height: 500px !important;
        }

        @include bem-m("medium") {
            display: block;
            overflow-y: auto;
            min-height: 580px;
        }
    }

    @include bem-m("maximize") {
        .content-modal__form {
            bottom: 0;
            left: 0;
            height: 100%;
            max-height: 100%;
            max-width: 100%;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        .content-modal__body-scroll {
            overflow: auto;
            max-height: 550px !important;
        }

        .content-modal__body-scroll--medium {
            min-height: 550px;
        }

        .content-modal__header {
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 2;
        }
    }
}
