<div class="col-xs-12 col-md-12">
    <section class="app__section app__section--success">
        <div class="app__section__header">
            راهنمایی
            @{Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml");}
        </div>
        <div class="app__section__body">
            <p class="p-help">
                1. برای شروع کار ابتدا دسته بندی مورد نظر را از قسمت کمبوی دسته بندی جلسات انتخاب فرمایید.
            </p>
            <p class="p-help">
                2.بازه زمانی را  متناسب با دوره گزارش از قسمت <b class="app--primary"> بازه زمانی </b> انتخاب نمایید.

            </p>
            <p class="p-help">
                3. جهت مشاهده نتیجه گزارش روی دکمه <b class="app--primary">مشاهده نتیجه</b> کلیک کنید.
            </p>
        </div>
    </section>
</div>