<div class="col-xs-12 col-md-12">
    <section class="app__section">
        <div class="app__section__header">
            آمار اجمالی
        </div>
        <div class="app__section__body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="app__form-item">
                        @Html.Action("StatisticsIconPartial")
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
