@using DevExpress.Web.ASPxRichEdit

<div class="col-xs-12 col-md-12">
    <section class="app__section">

        <div class="app__section__header">
            انتخاب دسته بندی و تنظیم تاریخ
            @{Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml");}
        </div>

        <div class="app__section__body row">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="app__form-item">
                    <label class="app__form-label">
                        انتخاب دسته بندی
                    </label>
                    <div id="filterFormDepartmentListWithPermissionComboParent">
                        @{
                            Html.RenderAction("FilterFormDepartmentComboPartial", "MeetingManagementReport");
                        }
                    </div>
                    <div class="app__form-error app__hide" id="filterFormDepartmentListWithPermissionComboError">
                        دسته بندی انتخاب نشده است
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="app__form-item">
                    <label class="app__form-label">
                        انتخاب نوع گزارش
                        </label>
                    <div id="filterFormMeetingTypeComboParent">
                        @{
                            Html.RenderAction("FilterFormMeetingTypeComboPartial", "MeetingManagementReport");
                        }
                    </div>
                    <div class="app__form-error app__hide" id="filterFormMeetingTypeComboError">
                        نوع گزارش انتخاب نشده است
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12" id="filterFormGetDataTypeComboDesign">
                <div class="app__form-item ">
                    <label class="app__form-label">
                        بازه زمانی
                    </label>
                    <div id="filterFormGetDataTypeComboParent">
                        @{ Html.RenderPartial("~/Views/MeetingManagementReport/FilterForm/FilterFormGetDataTypeCombo.cshtml");}
                    </div>
                    <div class="app__form-error app__hide" id="filterFormGetDataTypeComboError">
                        بازه زمانی انتخاب نشده است
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 app__hide" id="filterFormDateComboSpecialDateDesign">

                <div class="col-xs-12 col-md-6 col-lg-6" id="filterFormPeriodStartDatePickerParent">
                    <div class="app__form-item">
                        <label class="app__form-label">
                            از تاریخ
                        </label>
                        <div>
                            <input type="text" class="app__form-datepicker"
                                   id="filterFormPeriodStartDatePicker"
                                   placeholder="از تاریخ"
                                   data-mddatetimepicker="true"
                                   data-englishnumber="true"
                                   data-targetdateselector="#filterFormPeriodStartDatePicker" />
                        </div>
                        <div class="app__form-error app__hide" id="filterFormPeriodStartDatePickerError">
                            شروع بازه زمانی انتخاب نشده است
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6" id="filterFormPeriodEndDatePickerParent">
                    <div class="app__form-item">
                        <label class="app__form-label">
                            تا تاریخ
                        </label>
                        <div>
                            <input type="text" class="app__form-datepicker"
                                   id="filterFormPeriodEndDatePicker"
                                   placeholder="تا تاریخ"
                                   data-mddatetimepicker="true"
                                   data-englishnumber="true"
                                   data-targetdateselector="#filterFormPeriodEndDatePicker" />
                        </div>
                        <div class="app__form-error app__hide" id="filterFormPeriodEndDatePickerError">
                            پایان بازه زمانی انتخاب نشده است
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-4 pull-left">
                <div class="filter-form__action-wrapper" id="showMeetingDepartmentReportListBtnDesign">
                    @Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "showMeetingDepartmentReportListBtn";
                        settings.Text = "مشاهده نتیجه";
                        settings.UseSubmitBehavior = false;
                        settings.EnableClientSideAPI = true;
                        settings.Width = Unit.Percentage(100);
                        settings.Styles.CssPostfix = "filter-form__btn";
                        settings.ClientSideEvents.Click = "motorsazanClient.meetingManagementReport.showMeetingManagementReportListBtnClick";
                    }).GetHtml()
                </div>
            </div>

        </div>

    </section>
</div>